<html xmlns:th="https://www.thymeleaf.org">
	
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
 
	<body>
		 <p th:text="${msg}"></p>
		<form th:action="@{/register}" th:object="${user}" method="POST">
			<table  class="table table-striped table-hover ">
				<tr>
					<td>Name</td>
					<td><input type="text" th:field="*{uname}" required></td>
					</tr>
					
					<tr>
					<td>Password</td>
					<td><input type="password" th:field="*{password}" required></td>
					</tr>
					
					<tr>
					<td>Email</td>
					<td><input type="text" th:field="*{email}" required></td>
				    </tr>
				    
				    <tr>
					<td>Gender</td>
					<td>
					
					<input type="radio"
               id="female"
               name="female"
               value="female" th:field="*{gender}">
                 <label for="female">female</label>
					
					<input type="radio"
               id="Male"
               name="Male"
               value="Male" th:field="*{gender}">
                 <label for="Male">Male</label></td>
				    </tr>
				    
			
				    
				<tr>
					<td></td>
					<td><input type="submit" value="Register" class="btn btn-primary"></td>
				</tr>
				
				
				
			</table>
			
		</form>
		
		
		<a href="login" class="btn btn-success">Login Here</a>
	</body>
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>